.header__profile-img {
  position: absolute;
  width: 16.4rem;
  height: 16.4rem;
}

.header__profile-gif {
  position: absolute;
  width: 16.4rem;
  height: 16.4rem;
  opacity: 0.9;
  z-index: 998;
}
